# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Maven
*.marker
*.lst
*.properties

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
replay_pid*
maven/gexbot/target/classes/txt/*.txt
maven/gexbot/target/txt/*.txt
maven/gexbot/target/classes/*.class
maven/gexbot/src/main/java/txt/TOKEN.txt
maven/gexbot/src/main/java/txt/USERID.txt
maven/gexbot/dependency-reduced-pom.xml
maven/gexbot/target/classes/META-INF/MANIFEST.MF
